$animation-option: .8s ease .1s both;

.page-move-out-down {
  -webkit-animation: page-move-out-down $animation-option;
  animation: page-move-out-down $animation-option;
}

.page-move-out-up {
  -webkit-animation: page-move-out-up $animation-option;
  animation: page-move-out-up $animation-option;
}

.page-move-in-down {
  -webkit-animation: page-move-in-down $animation-option;
  animation: page-move-in-down $animation-option;
}

.page-move-in-up {
  -webkit-animation: page-move-in-up $animation-option;
  animation: page-move-in-up $animation-option;
}

.page-scale-out {
  -webkit-animation: page-scale-out $animation-option;
  animation: page-scale-out $animation-option;
}

// keyframes
@-webkit-keyframes page-move-out-down {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

@keyframes page-move-out-down {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

@-webkit-keyframes page-move-out-up {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@keyframes page-move-out-up {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@-webkit-keyframes page-move-in-down {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

@keyframes page-move-in-down {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

@-webkit-keyframes page-move-in-up {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@keyframes page-move-in-up {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@-webkit-keyframes page-scale-out {
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(.8)
  }
}

@keyframes page-scale-out {
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(.8)
  }
}