body {
    overflow: hidden;
}

.container {
    position: relative;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.top {
    z-index: 999;
}

.current {
    display: block;
}

#page-0 {
    background: url("../img/page0-bg.png") no-repeat center center;
    /*??????background-size:100%??background-size:cover��????????*/
    -webkit-background-size: 100%;
    background-size: 100%;
}

#page-1 {
    background: url("../img/page1-bg.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#page-2 {
    background: url("../img/page2-bg.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#page-3 {
    background: url("../img/page3-bg.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#page-4 {
    background: url("../img/page4-bg.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}

img {
    display: block;
    /*margin: 0 auto;*/
    position: absolute;
    pointer-events: none;
}

button {
    position: absolute;
    background-color: transparent;
    color: #fffefe;
    border-radius: 6px;
    border: 1px solid #fffefe;
    font-size: 1.7em;;
    opacity: 1;
    font-family: sans-serif;
}

.slide-progress {
    position: absolute;
    z-index: 10000;
    top: 49%;
    width: 0.7em;
    right: .4em;
    overflow: hidden;
}

.progress-dot {
    list-style: none;
    padding: 0;
    background-color: #f9f9f9;
    width: .5em;
    height: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    opacity: .3;
    margin: 0 auto .3em;
}

.progress-dot.dot-current {
    opacity: .7;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.fadeInSlow {
    -webkit-animation: logo-fadeInSlow .8s ease 0.9s 1 both;
    animation: logo-fadeInSlow .8s ease 0.9s 1 both
}

@-webkit-keyframes logo-fadeInSlow {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes logo-fadeInSlow {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.zoomInScaleOutFast {
    -webkit-animation: logo-zoomInScaleOutfast .5s ease 0.8s 1 both;
    -o-animation: logo-zoomInScaleOutfast .5s ease 0.8s 1 both;
    animation: logo-zoomInScaleOutfast .5s ease 0.8s 1 both;
}

@keyframes logo-zoomInScaleOutfast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}

@-webkit-keyframes logo-zoomInScaleOutfast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}

.fadeInDownFast {
    -webkit-animation: logo-fadeInDownFast .5s ease .8s 1 both;
    animation: logo-fadeInDownFast .5s ease .8s 1 both
}

@-webkit-keyframes logo-fadeInDownFast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes logo-fadeInDownFast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

.fadeInUpFast {
    -webkit-animation: logo-fadeInUpFast .2s ease .8s 1 both;
    -o-animation: logo-fadeInUpFast .2s ease .8s 1 both;
    animation: logo-fadeInUpFast .2s ease .8s 1 both;
}

@-webkit-keyframes logo-fadeInUpFast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}

@keyframes logo-fadeInUpFast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}

.fadeInRightFast {
    -webkit-animation: logo-fadeInRightFast .5s ease .8s 1 both;
    -o-animation: logo-fadeInRightFast .5s ease .8s 1 both;
    animation: logo-fadeInRightFast .5s ease .8s 1 both;
}

@keyframes logo-fadeInRightFast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@-webkit-keyframes logo-fadeInRightFast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

.fadeInLeftFast {
    -webkit-animation: logo-fadeInLeftFast .2s ease .8s 1 both;
    -o-animation: logo-fadeInLeftFast .2s ease .8s 1 both;
    animation: logo-fadeInLeftFast .2s ease .8s 1 both;
}

@keyframes logo-fadeInLeftFast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@-webkit-keyframes logo-fadeInLeftFast {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

.fadeInUpTest {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: logo-fadeInUp .8s ease .8s 1 both;
    -o-animation: logo-fadeInUp .8s ease .8s 1 both;
    animation: logo-fadeInUp .8s ease .8s 1 both;
}

@-webkit-keyframes logo-fadeInUp {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}

@keyframes logo-fadeInUp {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}

.fadeIn_page1_logo1 {
    -webkit-animation: logo-fadeIn 1s ease-in-out 1.4s 1 both;
    animation: logo-fadeIn 1s ease-in-out 1.4s 1 both
}

.fadeIn_page1_logo2 {
    -webkit-animation: logo-fadeIn 1s ease-in-out 1.4s 1 both;
    animation: logo-fadeIn 1s ease-in-out 1.4s 1 both
}

.fadeIn_page1_logo3 {
    -webkit-animation: logo-fadeIn 1s ease-in-out 2s 1 both;
    animation: logo-fadeIn 1s ease-in-out 2s 1 both
}

.fadeIn_page1_logo4 {
    -webkit-animation: logo-fadeIn 1s ease-in-out 1.1s 1 both;
    animation: logo-fadeIn 1s ease-in-out 1.1s 1 both
}

.fadeIn_page1_logo5 {
    -webkit-animation: logo-fadeIn 1s ease-in-out 2.3s 1 both;
    animation: logo-fadeIn 1s ease-in-out 2.3s 1 both
}

.fadeIn_page1_logo6 {
    -webkit-animation: logo-fadeIn 1s ease-in-out 1.7s 1 both;
    animation: logo-fadeIn 1s ease-in-out 1.7s 1 both
}

.fadeIn_page1_logo7 {
    -webkit-animation: logo-fadeIn 1s ease-in-out 2.6s 1 both;
    animation: logo-fadeIn 1s ease-in-out 2.6s 1 both
}

@-webkit-keyframes logo-fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes logo-fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
